{% extends "base.html" %}
{% block title %}
Inicio
{% endblock title %}
{% block content %}
<!-- Sección principal -->
<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1>Bienvenido a Clínica Saludable</h1>
        <p class="lead">Tu salud es nuestra prioridad</p>
        <a href="#servicios" class="btn btn-light btn-lg mt-3">Conoce nuestros servicios</a>
    </div>
</header>

<!-- Sección de servicios -->
<section id="servicios" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Nuestros Servicios</h2>
        <div class="row">
            
            {% if hay_servicios %}
                {% for servicio in servicios %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h5 class="card-title">{{servicio.nombreservicio}}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{servicio.descripcion}}</p>
                            <p class="card-text text-success">Q {{servicio.costo}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="card shadow p-3 m-3">
                    Aún no hay datos para mostrar...
                </div>
            {% endif %}
                
            <a href="{% url 'servicios' %}" class="btn btn-outline-info btn-lg mt-3">Conoce nuestros servicios</a>
        </div>
    </div>
</section>

<!-- Sección del equipo médico -->
<section id="equipo" class="bg-light py-5 container">
    <div class="">
        <h2 class="text-center mb-4">Nuestro Equipo</h2>
        <div class="row">
            {% if hay_empleados %}
                {% for empleado in empleados %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h5>{{empleado.tipo_perfil.nombre}} {{empleado.nombre}} {{empleado.apellido}}</h5>
                        </div>
                        <div class="card-body">
                            <p>{{empleado.tipo_perfil.descripcion}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="card shadow p-3 m-3">
                    Aún no hay datos para mostrar...
                </div>
            {% endif %}
            <a href="{% url 'equipo' %}" class="btn btn-outline-info btn-lg mt-3">Conoce a nuestro equipo</a>
        </div>
    </div>
</section>

{% endblock content %}