{% extends 'base.html' %}

{% block title %}Servicios{% endblock title %}

{% block content %}
<!-- Sección de servicios -->
<section id="servicios" class="py-5">
    <div class="container">
        <h1 class="text-center mb-4">Nuestros Servicios</h1>
        <div class="row">
            {% if hay_servicios %}
                {% for servicio in servicios %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h5 class="card-title">{{servicio.nombreservicio}}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{servicio.descripcion}}</p>
                            <p class="card-text text-success">Q {{servicio.costo}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="card shadow p-3 m-3">
                    Aún no hay datos para mostrar...
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
    