{% extends 'editar_registro.html' %}

{% block title %}Editar Examen Interno{% endblock title %}
{% block formtitle %}Editar Examen Interno{% endblock formtitle %}

{% block formcontent %}
      <!-- Campo: Detalle de la Cita -->
      <div class="mb-3">
        <label for="{{ form.detallecita.id_for_label }}" class="form-label">{{ form.detallecita.label }}</label>
        {{ form.detallecita }}
        {% if form.detallecita.errors %}
          <div class="text-danger">
            {{ form.detallecita.errors }}
          </div>
        {% endif %}
      </div>

      <!-- Campo: Motivo -->
      <div class="mb-3">
        <label for="{{ form.motivo.id_for_label }}" class="form-label">{{ form.motivo.label }}</label>
        {{ form.motivo }}
        {% if form.motivo.errors %}
          <div class="text-danger">
            {{ form.motivo.errors }}
          </div>
        {% endif %}
      </div>

      <!-- Campo: Nombre del Doctor -->
      <div class="mb-3">
        <label for="{{ form.nombredoctor.id_for_label }}" class="form-label">{{ form.nombredoctor.label }}</label>
        {{ form.nombredoctor }}
        {% if form.nombredoctor.errors %}
          <div class="text-danger">
            {{ form.nombredoctor.errors }}
          </div>
        {% endif %}
      </div>

{% endblock formcontent %}
