{% extends 'list_models.html' %}

{% block title %}Lista Examenes Externos{% endblock title %}
{% block tabletitle %}Examenes Externos{% endblock tabletitle %}

{% block tablecontent %}
    <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.cantidadentity }}</td>
        <td>{{ entity.cita }}</td>
        <td>{{ entity.tipoentity }}</td>
        <td>{{ entity.descripcion }}</td>
        <td>{{ entity.numref }}</td>
        {% include 'table_options.html' %}
    </tr>
{% endblock tablecontent %}
    