{% extends 'agregar_registro.html' %}

{% block title %}Agregar Paciente{% endblock title %}

{% block formtitle %}Agregar Paciente{% endblock formtitle %}

{% block formcontent %}
<!-- Campo: Nombre -->
<div class="mb-3">
    <label for="{{ form.nombre.id_for_label }}" class="form-label">{{ form.nombre.label }}</label>
    {{ form.nombre }}
    {% if form.nombre.errors %}
      <div class="text-danger">
        {{ form.nombre.errors }}
      </div>
    {% endif %}
  </div>

  <!-- Campo: Apellido -->
  <div class="mb-3">
    <label for="{{ form.apellido.id_for_label }}" class="form-label">{{ form.apellido.label }}</label>
    {{ form.apellido }}
    {% if form.apellido.errors %}
      <div class="text-danger">
        {{ form.apellido.errors }}
      </div>
    {% endif %}
  </div>

  <!-- Campo: DPI -->
  <div class="mb-3">
    <label for="{{ form.dpi.id_for_label }}" class="form-label">{{ form.dpi.label }}</label>
    {{ form.dpi }}
    {% if form.dpi.errors %}
      <div class="text-danger">
        {{ form.dpi.errors }}
      </div>
    {% endif %}
  </div>

  <!-- Campo: NIT -->
  <div class="mb-3">
    <label for="{{ form.nit.id_for_label }}" class="form-label">{{ form.nit.label }}</label>
    {{ form.nit }}
    {% if form.nit.errors %}
      <div class="text-danger">
        {{ form.nit.errors }}
      </div>
    {% endif %}
  </div>

  <!-- Campo: Dirección -->
  <div class="mb-3">
    <label for="{{ form.direccion.id_for_label }}" class="form-label">{{ form.direccion.label }}</label>
    {{ form.direccion }}
    {% if form.direccion.errors %}
      <div class="text-danger">
        {{ form.direccion.errors }}
      </div>
    {% endif %}
  </div>

  <!-- Campo: Fecha de nacimiento -->
  <div class="mb-3">
    <label for="{{ form.fechanac.id_for_label }}" class="form-label">{{ form.fechanac.label }}</label>
    {{ form.fechanac }}
    {% if form.fechanac.errors %}
      <div class="text-danger">
        {{ form.fechanac.errors }}
      </div>
    {% endif %}
  </div>

  <!-- Campo: Género -->
  <div class="mb-3">
    <label for="{{ form.genero.id_for_label }}" class="form-label">{{ form.genero.label }}</label>
    {{ form.genero }}
    {% if form.genero.errors %}
      <div class="text-danger">
        {{ form.genero.errors }}
      </div>
    {% endif %}
  </div>

  <!-- Campo: Teléfono -->
  <div class="mb-3">
    <label for="{{ form.telefono.id_for_label }}" class="form-label">{{ form.telefono.label }}</label>
    {{ form.telefono }}
    {% if form.telefono.errors %}
      <div class="text-danger">
        {{ form.telefono.errors }}
      </div>
    {% endif %}
  </div>
{% endblock formcontent %}