{% extends 'list_models.html' %}

{% block title %}Lista Pacientes{% endblock title %}
{% block tabletitle %}Pacientes{% endblock tabletitle %}

{% block tablecontent %}
  <tr>
      <td>{% if entity.nombre %}{{entity.nombre}}{% endif %}</td>
      <td>{% if entity.apellido %}{{entity.apellido}}{% endif %}</td>
      <td>{% if entity.dpi %}{{entity.dpi}}{% endif %}</td>
      <td>{% if entity.nit %}{{entity.nit}}{% endif %}</td>
      <td>{% if entity.direccion %}{{entity.direccion}}{% endif %}</td>
      {% include 'table_options.html' %}
  </tr>
{% endblock tablecontent %}
    