{% extends 'agregar_registro.html' %}

{% block title %}Agregar Cita{% endblock title %}

{% block formtitle %}Agregar Cita{% endblock formtitle %}

{% block formcontent %}
<!-- Campo: Fecha -->
<div class="mb-3">
<label for="{{ form.fecha.id_for_label }}" class="form-label">{{ form.fecha.label }}</label>
{{ form.fecha }}
{% if form.fecha.errors %}
  <div class="text-danger">
    {{ form.fecha.errors }}
  </div>
{% endif %}
</div>

<!-- Campo: Paciente -->
<div class="mb-3">
<label for="{{ form.paciente.id_for_label }}" class="form-label">{{ form.paciente.label }}</label>
{{ form.paciente }}
{% if form.paciente.errors %}
  <div class="text-danger">
    {{ form.paciente.errors }}
  </div>
{% endif %}
</div>

<!-- Campo: Número de autorización -->
<div class="mb-3">
<label for="{{ form.numaut.id_for_label }}" class="form-label">{{ form.numaut.label }}</label>
{{ form.numaut }}
{% if form.numaut.errors %}
  <div class="text-danger">
    {{ form.numaut.errors }}
  </div>
{% endif %}
</div>

<!-- Campo: Número de serie -->
<div class="mb-3">
<label for="{{ form.numserie.id_for_label }}" class="form-label">{{ form.numserie.label }}</label>
{{ form.numserie }}
{% if form.numserie.errors %}
  <div class="text-danger">
    {{ form.numserie.errors }}
  </div>
{% endif %}
</div>

<!-- Campo: DTE -->
<div class="mb-3">
<label for="{{ form.dte.id_for_label }}" class="form-label">{{ form.dte.label }}</label>
{{ form.dte }}
{% if form.dte.errors %}
  <div class="text-danger">
    {{ form.dte.errors }}
  </div>
{% endif %}
</div>

<!-- Campo: Perfil -->
<div class="mb-3">
<label for="{{ form.perfil.id_for_label }}" class="form-label">{{ form.perfil.label }}</label>
{{ form.perfil }}
{% if form.perfil.errors %}
  <div class="text-danger">
    {{ form.perfil.errors }}
  </div>
{% endif %}
</div>
{% endblock formcontent %}