{% extends 'agregar_registro.html' %}

{% block title %}Agregar Servicio{% endblock title %}

{% block formtitle %}Agregar Servicio{% endblock formtitle %}

{% block formcontent %}
{{ form.non_field_errors }}
        
<div class="mb-3">
    {{ form.nombreservicio.label }}
    {{ form.nombreservicio }}
    {{ form.nombreservicio.errors }}
</div>

<div class="mb-3">
    {{ form.descripcion.label }}
    {{ form.descripcion }}
    {{ form.descripcion.errors }}
</div>

<div class="mb-3">
    {{ form.costo.label }}
    {{ form.costo }}
    {{ form.costo.errors }}
</div>
{% endblock formcontent %}
    