{% extends 'base_admin.html' %}

{% block title %}Editar Servicio{% endblock title %}

{% block content %}
    <center><h2 class="m-4">Editar Servicio</h2></center>
    
    <form id="form" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="mb-3">
            {{ form.nombreservicio.label }}
            {{ form.nombreservicio }}
            {{ form.nombreservicio.errors }}
        </div>
    
        <div class="mb-3">
            {{ form.descripcion.label }}
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>
    
        <div class="mb-3">
            {{ form.costo.label }}
            {{ form.costo }}
            {{ form.costo.errors }}
        </div>
        
        <a onclick="agregar()" class="btn btn-primary">Agregar</a>
        <a onclick="agregar_seguir_editando()" class="btn btn-primary">Agregar y seguir editando</a>
        <a href="{% url 'lista-servicios' %}" class="btn btn-outline-secondary">Volver</a>
    </form>
    <input type="text" id="url" value="{{url}}" hidden>
{% endblock content %}

{% load static %}
{% block script %}
<script type="text/javascript" src="{% static 'webclinic/js/common/http.methods.js' %}"></script>
{% endblock script %}