{% extends 'editar_registro.html' %}

{% block title %}Editar Cita{% endblock title %}


{% block style %}
  <style>
    .paciente-hover{
      cursor: pointer;
      text-decoration: none;
      color: blue;
      transition: color 0.4s ease;
    }

    .paciente-hover:hover{
      color: red;
    }
  </style>
{% endblock style %}
  

{% block formtitle %}Editar Cita{% endblock formtitle %}

{% block formcontent %}

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
          <p><strong>Cita ID:</strong> {{ id }}</p>
      </div>
      <div class="col-md-6">
          <p><strong>Nombre del paciente:</strong>
            <select onclick="lista_antecedentes({{entity.paciente.id}},{{entity.id}})" class="form-control paciente-hover" name="paciente" id="id_paciente">
              <option selected value="{{entity.paciente.id}}">{{entity.paciente}}</option>
            </select>
          </p>
          <p><strong>Fecha y hora de la cita:</strong> {{form.fecha}}</p>
      </div>
      <div class="col-md-6">
          <p><strong>Médico asignado:</strong> {{form.perfil}}</p>
          <p><strong>Estado de la cita:</strong> {{form.estado}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>Facturado:</strong> <input readonly disabled type="checkbox" name="facturado" {% if form.facturado.value %}checked{% endif %}></p>
      </div>
      <div class="col-md-4">
        <p><strong>Pago pendiente:</strong> Q {{entity.pago_pendiente}}</p>
      </div>
      <div class="col-md-4">
        <p><strong>Pagado:</strong> <input readonly disabled type="checkbox" name="facturado" {% if entity.pagado %}checked{% endif %}></p></p>
      </div>
      <div class="col-md-6">
        <p><strong>DTE:</strong> {{form.dte}}</p>
      </div>
      <div class="col-md-6">
        <p><strong>Número de autorización:</strong>{{form.numaut}}</p>
      </div>
      <div class="col-md-6">
        <p><strong>Número de serie:</strong>{{form.numserie}}</p>
      </div>
      <div class="col-md-12">
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#detalleModal">
          Agregar servicio
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Acciones
          </button>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#pagosModelToggle ">
              Ver pagos
            </a></li>            
            {% if entity.recetamedica %}
            <li><a style="cursor: pointer;" class="dropdown-item" blank="true" href="{% url 'editar-receta' entity.recetamedica.id %}">
              Ver receta
            </a></li>
            {% else %}
            <li><a style="cursor: pointer;" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#recetaModal ">
              Agregar receta
            </a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock formcontent %}


{% block extracontent %}

<div class="overflow-scroll p-2">
  <!-- Detalles de Servicios de la Cita -->
  <h4 class="mb-3">Servicios Proporcionados</h4>
  <table class="table table-bordered border-secondary table-hover" id="tabla">
    <thead>
        <tr class="table-info">
          <th scope="col">Historial</th>
          <th scope="col">Servicio</th>
          <th scope="col">Descripción</th>
          <th scope="col">Costo Unitario</th>
          <th scope="col">Descuento</th>
          <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        
      {% for detalle in detalles %}
        <tr>
          <td>
            
            {% if detalle.historial %}
            {{detalle.historial}}
            {% else %}
            <a class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#modal{{detalle.id}}">
              Agregar historial
            </a>

            <!-- Modal para ver historial -->
            <div class="modal fade" id="modal{{detalle.id}}" tabindex="-1" aria-labelledby="modal{{detalle.id}}Label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Historial</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form method="post" id="formhistorial{{detalle.id}}" action="">
                      
                      <div class="mb-3">
                          <label for="id_motivo" class="form-label">Motivo de cita</label>
                          {{ formhistorial.motivo }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_historiaenfer" class="form-label">Historia de enfermedad</label>
                          {{ formhistorial.historiaenfer }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_presionarterial" class="form-label">Presión arterial</label>
                          {{ formhistorial.presionarterial }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_frecuenciacard" class="form-label">Frecuencia cardíaca</label>
                          {{ formhistorial.frecuenciacard }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_frecuenciaresp" class="form-label">Frecuencia respiratoria</label>
                          {{ formhistorial.frecuenciaresp }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_temperatura" class="form-label">Temperatura</label>
                          {{ formhistorial.temperatura }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_saturacion" class="form-label">Saturación</label>
                          {{ formhistorial.saturacion }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_glucosa" class="form-label">Glucosa</label>
                          {{ formhistorial.glucosa }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_peso" class="form-label">Peso</label>
                          {{ formhistorial.peso }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_altura" class="form-label">Altura</label>
                          {{ formhistorial.altura }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_diagnostico" class="form-label">Diagnóstico</label>
                          {{ formhistorial.diagnostico }}
                      </div>
                  
                      <div class="mb-3">
                          <label for="id_paciente" class="form-label">Paciente</label>
                          <input type="number" name="paciente" id="id_paciente" value="{{entity.paciente.id}}" hidden>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-secondary"
                      data-bs-dismiss="modal">Cerrar</a>
                      <a class="btn btn-primary" onclick="agregar_historial({{detalle.id}},{{entity.id}},{{detalle.servicio.id}})">Guardar pago</a>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
              
          </td>
          <td>{{detalle.servicio.nombreservicio}}</td>
          <td>{{detalle.servicio.descripcion}}</td>
          <td>{{detalle.servicio.costo}}</td>
          <td>{{detalle.descuento}}</td>
          <td>{{detalle.subtotal}}</td>
        </tr>  
      {% endfor %}
          
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5" class="text-right">Total</th>
            <td>Q {{form.totalpago.value}}</td>
        </tr>
    </tfoot>
  </table>
</div>
<!-- MODAL AGREGAR DETALLE -->
<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formdetalle" action="" method="POST">
          <input hidden type="number" name="cita" value="{{id}}" class="form-control" style="border:1px solid" required="" id="id_cita">
          <br>
          <label for="{{ formdetalle.servicio.id_for_label }}">Servicio:</label>
          {{ formdetalle.servicio }}
          <br>

          <label for="{{ formdetalle.descuento.id_for_label }}">Descuento:</label>
          {{ formdetalle.descuento }}
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary"
          data-bs-dismiss="modal">Cerrar</a>
        <a onclick="agregar_detalle()" class="btn btn-primary">Guardar cambios</a>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL AGREGAR DETALLE -->
<!-- MODAL LISTA PAGOS -->
<div class="modal fade" id="pagosModelToggle" tabindex="-1" aria-labelledby="pagosModelToggle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lista de pagos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="overflow-scroll p-2">
          <!-- Detalles de Servicios de la Cita -->
          <h4 class="mb-3">Servicios Proporcionados</h4>
          <table class="table table-bordered border-secondary table-hover">
            <thead>
                <tr class="table-info">
                    <th scope="col">Cantidad</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Tipo de pago</th>
                    <th scope="col">Número de referencia</th>
                </tr>
            </thead>
            <tbody>
                
              {% for pago in pagos %}
                <tr>
                  <td>{{pago.cantidadpago}}</td>
                  <td>{% if pago.descripcion %}{{pago.descripcion}}{% endif %}</td>
                  <td>{{pago.tipopago.nombre}}</td>
                  <td>{% if pago.numref %}{{pago.numref}}{% endif %}</td>
                </tr>  
              {% endfor %}
                  
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary"
          data-bs-dismiss="modal">Cerrar</a>
        <a class="btn btn-primary" data-bs-target="#pagoModelToggle" data-bs-toggle="modal">Agregar pago</a>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL VER PAGOS -->
<!-- MODAL PARA AGREGAR PAGO -->
<div class="modal fade" id="pagoModelToggle" tabindex="-1" aria-labelledby="pagoModelToggle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar pago</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" id="formpago">
          <div class="mb-3">
            <label for="{{ formpago.cantidadpago.id_for_label }}" class="form-label">{{ formpago.cantidadpago.label }}</label>
            {{ formpago.cantidadpago }}
            {% if formpago.cantidadpago.errors %}
              <div class="text-danger">
                {{ formpago.cantidadpago.errors }}
              </div>
            {% endif %}
          </div>
        
          <!-- Campo: Descripción -->
          <div class="mb-3">
            <label for="{{ form.descripcion.id_for_label }}" class="form-label">{{ formpago.descripcion.label }}</label>
            {{ formpago.descripcion }}
            {% if formpago.descripcion.errors %}
              <div class="text-danger">
                {{ formpago.descripcion.errors }}
              </div>
            {% endif %}
          </div>
        
          <!-- Campo: Tipo de Pago -->
          <div class="mb-3">
            <label for="{{ formpago.tipopago.id_for_label }}" class="form-label">{{ formpago.tipopago.label }}</label>
            {{ formpago.tipopago }}
            {% if form.tipopago.errors %}
              <div class="text-danger">
                {{ formpago.tipopago.errors }}
              </div>
            {% endif %}
          </div>
        
          <!-- Campo: Número de Referencia -->
          <div class="mb-3">
            <label for="{{ formpago.numref.id_for_label }}" class="form-label">{{ formpago.numref.label }}</label>
            {{ formpago.numref }}
            {% if formpago.numref.errors %}
              <div class="text-danger">
                {{ formpago.numref.errors }}
              </div>
            {% endif %}
          </div>
        
          <input type="number" name="cita" hidden value={{id}}>
        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary"
          data-bs-dismiss="modal">Cerrar</a>
          <a class="btn btn-primary" onclick="agregar_pago()">Guardar pago</a>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL AGREGAR PAGO -->
 <!-- MODAL RECETA MEDICA -->
<div class="modal fade" id="recetaModal" tabindex="-1" aria-labelledby="recetaModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Receta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="POST" id="formreceta">
        <div class="modal-body">
          <!-- Campo Fecha -->
          <div class="mb-3">
            <label for="{{ formreceta.fecha.id_for_label }}" class="form-label">Fecha de Receta</label>
            {{ formreceta.fecha }}
        </div>

        <!-- Campo Doctor -->
        <div class="mb-3">
            <label for="{{ formreceta.doctor.id_for_label }}" class="form-label">Doctor</label>
            {{ formreceta.doctor }}
        </div>

        <!-- Campo Observaciones -->
        <div class="mb-3">
            <label for="{{ formreceta.observaciones.id_for_label }}" class="form-label">Observaciones</label>
            {{ formreceta.observaciones }}
        </div>

        
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary"
            data-bs-dismiss="modal">Cerrar</a>
          <a onclick="agregar_receta()" class="btn btn-primary">Guardar cambios</a>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- FIN MODAL RECETA MEDICA -->
 <!-- URLS -->
<input type="text" id="url_antecedentes" hidden value="{{url_antecedentes}}">
<input type="text" id="url_api_historiales" hidden value="{{url_api_historiales}}">
<input type="text" id="url_api_receta" hidden value="{{url_api_receta}}">
<input type="text" id="url_api_detalles_receta" hidden value="{{url_api_detalles_receta}}">
<input type="text" id="url_api_pagos" hidden value="{{url_api_pagos}}">
<input type="text" id="url_api_detalles" hidden value="{{url_api_detalles}}">
{% endblock extracontent %}

{% load static %}
{% block extrascript %}
<script type="text/javascript" src="{% static 'webclinic/js/clinica/cita.methods.js' %}"></script>
{% endblock extrascript %}
  
  