{% extends 'editar_registro.html' %}

{% block title %}Editar Cita{% endblock title %}

{% block formtitle %}Editar Cita{% endblock formtitle %}

{% block formcontent %}
<div class="form-group">
  <label for="id_fecha">Fecha de cita:</label>
  {{ form.fecha }}
</div>

<div class="form-group">
  <label for="id_paciente">Paciente:</label>
  {{ form.paciente }}
</div>

<div class="form-group">
  <label for="id_numaut">Número de autorización:</label>
  {{ form.numaut }}
</div>

<div class="form-group">
  <label for="id_numserie">Número de serie:</label>
  {{ form.numserie }}
</div>

<div class="form-group">
  <label for="id_dte">DTE:</label>
  {{ form.dte }}
</div>

<div class="form-group">
  <label for="id_estado">Estado:</label>
  {{ form.estado }}
</div>

<div class="form-group">
  <label for="id_perfil">Perfil:</label>
  {{ form.perfil }}
</div>

<div class="form-group">
  <label for="id_recetamedica">Receta médica:</label>
  {{ form.recetamedica }}
</div>
{% endblock formcontent %}