{% extends 'list_models.html' %}

{% block title %}Lista Citas{% endblock title %}
{% block tabletitle %}Lista Citas{% endblock tabletitle %}

{% block tablecontent %}
  <tr>
      <td>{{entity.fecha}}</td>
      <td>{{entity.paciente}}</td>
      <td>{{entity.numaut}}</td>
      <td>{{entity.numserie}}</td>
      <td>{{entity.dte}}</td>
      <td>{{entity.facturado}}</td>
      <td>{{entity.estadoentity}}</td>
      <td>{{entity.totalpago}}</td>
      <td>{{entity.totalpagado}}</td>
      {% include 'table_options.html' %}
  </tr>
{% endblock tablecontent %}
    