{% extends 'list_models.html' %}

{% block title %}Lista de Medicamentos{% endblock title %}
{% block tabletitle %}Medicamentos{% endblock tabletitle %}

{% block tablecontent %}
            <tr>
                <td>{{entity.medicamento}}</td>
                <td>{{entity.descripcion}}</td>
                {% include 'table_options.html' %}
            </tr>
{% endblock tablecontent %}


{% block script %}
  {% load static %}
  <script src="{% static 'webclinic/js/common/http.methods.js' %}"></script>
{% endblock script %}
  
    