{% load static %}
<!DOCTYPE html>
<html lang="es-GT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'sweetalert2/sweetalert2.all.min.js' %}"></script>
    <title>{% block title %}{% endblock title %} | Clínica Jordán</title>
</head>
<body>
    <style>
        button{
            border: none;
        }
        a {
            color: #343a40;
            text-decoration: none;
        }

        .accordion-body {
            max-width: 100%; /* Ajuste para el contenedor de acordeón */
            overflow-y: auto;  /* Scroll si es necesario */
        }

        .accordion {
            margin: 0; /* Ajuste de margen */
        }

    </style>
    {% block style %}{% endblock style %}
    <header>
        <nav class="navbar navbar-light bg-light">
            
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
        </nav>
    </header>
    <main class="container-fluid">
        <div class="row vh-100">
            <!-- Sidebar para pantallas grandes (se oculta en pantallas pequeñas) -->
            <section id="sidebar" class="col-12 col-md-3 col-lg-2 bg-light d-none d-md-block">
                {% include 'catalogo.html' %}
            </section>
            <!-- Contenido principal -->
            <div class="col-12 col-md-9 col-lg-10">
                <div class="container">
                    {% block content %}{% endblock content %}
                </div>
            </div>
            <!-- Offcanvas para pantallas pequeñas (se muestra solo en móviles) -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav flex-column">
                        {% include 'catalogo.html' %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
        
    <footer></footer>
    {% block script %}{% endblock script %}
</body>
</html>