{% extends 'list_models.html' %}

{% block title %}Lista Pagos{% endblock title %}
{% block tabletitle %}Pagos{% endblock tabletitle %}

{% block tablecontent %}
    <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.cantidadpago }}</td>
        <td>{{ entity.cita }}</td>
        <td>{{ entity.tipopago }}</td>
        <td>{% if entity.descripcion %}{{ entity.descripcion }}{% endif %}</td>
        <td>{% if entity.numref %}{{ entity.numref }}{% endif %}</td>
        {% include 'table_options.html' %}
    </tr>
{% endblock tablecontent %}